<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">

{{ 'bootstrap.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap-responsive.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}
{{ 'customise.css' | asset_url | stylesheet_tag }}

{% if template == 'index' %}
  <title>{{ shop.name }} | {{ settings.shop_tagline }}</title>
{% elsif template == '404' %}
  <title>Page Not Found | {{ shop.name }}</title>
{% else %}
  <title>{{ page_title }} | {{ shop.name }}</title>
{% endif %}

{% assign maxmeta = 155 %}
{% if template contains 'product' %}
  <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
{% elsif template contains 'page' %}
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
{% elsif template == 'index' and shop.description != '' %}
  <meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape}}" />
{% endif %}

<link rel="canonical" href="{{ canonical_url }}" />